.grid-upper {
    height: 100px;
    width: 200px;
    border: 2px;
    padding: 14px;
    /* background: url('../../assets/LandParcels/Banner.png'); */
}

.grid-lower {
    height: 70px;
    width: 200px;
    border: 2px;
    padding: 14px;
    display: flex;
}

.grid-button {
    height: 20px;
    background-color: #FBE5D8;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 4px;
    border: 1px;
}

.typo1 {
    margin-right: 105px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    color: green;
}


.status-button {
    background-color: rgba(255, 169, 8, 0.712);
}